html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #333333;
  font-family: "DM Mono", monospace;
  font-family: "Lora", serif;
}
.item-text {
    padding-bottom: 1prem;
  }
.top {
  text-align: center;
  margin: 10rem;
  margin-bottom: 10rem;
  font-size: 2000%;
}
.boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.imges {
  border: solid #202020;
  border-radius: 2rem;
  width: 30%;
  margin-bottom: 5rem;
  font-size: 8rem;
  height: 50%;
  margin-top: 5rem;
  transition: transform 1s;
  padding-top: 5rem;
}
img {
  width: 80%;
  height: 60%;
  object-fit: fill;
  padding-top: 1.5rem;
  border-radius: 3.5rem;
  padding-bottom: 2rem;
  padding-top: 3rem;
}
.imges:hover {
  box-shadow: 1rem 1rem 1rem #202020;
  text-decoration: underline;
  background-color: #3333333;
  transform: scale(1.05);
}

.imges-zoom {
  transition: transform 0.2s;
}
.imges-zoom:hover {
  transform: scale(1.15);
}
.imges-text {
  padding-top: 2.5rem;
}
#header-text:hover {
  color: #202020;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media only screen and (max-width: 1280px) {
  body {
    background-color: #333333);
  }
}
@media only screen and (max-width: 800px) {
  body {
    background-color: #333333;
  }
  #main-header {
    font-size: 10rem;
  }
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #333333;
  }
  .item:hover {
    background-color: #202020;
  }
  .item {
    height: 20%;
    width: 80%;
  }
}
.poso {
  animation: trasitionIn 0.50s;
}

@keyframes trasitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
